[submodule "public/games"]
	path = public/gdata
	url = ssh://git@git.holy.how:654/holy/games.git
[submodule "Ultraviolet-Core"]
	path = build-proxy/Ultraviolet-Core
	url = https://github.com/titaniumnetwork-dev/Ultraviolet-Core.git
