@use "./Segoe-UI.scss";
@use "./Navigation.scss";
@use "./Footer.scss";
@use "./Service.scss";
@use "./Home.scss";
@use "./Proxy.scss";
@use "./Theatre.scss";
@use "./Support.scss";
@use "./Banner.scss";
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/src/material-design-icons";

html,
body,
#root {
	margin: 0px;
	width: 100%;
	height: 100%;
}

#root {
	font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: var(--background);
	color: var(--slate);
	position: fixed;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

#root {
	--dummy: 0;
	--footer-height: 70px;
	--nav-height: 50px;
	--slate: #111;
	--slate-text: #eee;
	--slate-accent: #333;
	--accent: #e0e0e0;
	--subtle: #555;
	--background-accent: #f2f2f2;
	--border: #ccc;
	--blue-link: #1a0dab;
	--blue: #0078d4;
	--blue-accent-active: #1683d8;
	--blue-accent-hover: #006cbe;
	--background: #fff;
	--contrast-background: 0, 0, 0;
	--contrast-text: #fff;
	--shadow: #0004;
	--grid: url("../Assets/light.svg");
	--grid-inverted: url("../Assets/dark.svg");
}

#root[data-theme="dark"] {
	--blue-link: #006cbe;
	--background: #000;
	--slate: #ddd;
	--slate-text: #333;
	--accent: #222;
	--background-accent: #111;
	--subtle: #ddd;
	--border: #555;
	--blue: #0078d4;
	--contrast-background: 255, 255, 255;
	--contrast-text: #000;
	--shadow: #fff4;
	--grid: url("../Assets/dark.svg");
	--grid-inverted: url("../Assets/light.svg");
}

* {
	outline: none;
}

a {
	color: var(--blue-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	padding: 0px 5%;
	margin: 20px 0px;
	flex: none;
}
