@import './Lato.scss';
@import './Montserrat Alternates.scss';
@import './Banner.scss';
@import './Theme.scss';

html {
	background-color: var(--background);
}

body {
	margin: 0px;
}

button {
	user-select: none;
}

h1,
h2,
h3 {
	font-family: 'Montserrat Alternates';
}

#root {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: var(--text);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// hide "absolute" overflow
	overflow: hidden;

	main {
		padding: 0px 5%;
		margin: 20px 0px;
		flex: none;
	}
}

.plain-select {
	color: var(--text);
	position: relative;
	user-select: none;
	text-align: left;

	> .toggle {
		display: flex;
		height: 40px;
		line-height: 40px;
		padding: 0px 15px;
		border-radius: 8px;
		border: 1px solid var(--border);
		background-color: var(--background-accent);
		cursor: pointer;
		align-items: center;

		> svg {
			margin-left: auto;
			line-height: inherit;
		}
	}

	> .list {
		z-index: 1;
		display: none;
		position: absolute;
		flex-direction: column;
		border-radius: 8px;
		border: 1px solid var(--border);
		border-top: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		width: calc(100% - 2px);
		top: calc(100% - 1px);
		background-color: var(--background-accent);
		overflow: hidden;
		cursor: pointer;

		> .plain-option {
			border-top: 1px solid var(--border);
			height: 40px;
			line-height: 40px;
			padding: 0px 15px;

			&.hover {
				background-color: var(--background);
				color: var(--text);
			}
		}
	}

	&[data-open='1'] {
		> .toggle {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		> .list {
			display: flex;
		}
	}
}

* {
	outline: none;
}

a {
	color: var(--link);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
