footer {
	height: 24px;
	padding: 30px 5% 16px 5%;
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	background: var(--background);
	color: var(--text);
	font-size: 11px;
	line-height: 16px;
	flex: none;

	> * {
		margin-left: 15px;
	}

	> a {
		color: inherit;
		text-decoration: none;
	}
}
