@import './Common.scss';
@import './Screen.scss';

html[data-page*='games'][data-service='1'] {
	overflow: hidden;
}

html[data-page*='games'] #root {
	> nav.games {
		display: flex;
		min-height: var(--nav-height);
		align-content: center;
		position: relative;
		color: var(--slate);
		border-bottom: var(--border) 1px solid;
		padding: 10px 5vw;
		z-index: 9;
		text-align: center;
		background: var(--background);
		justify-content: space-around;

		> .expand {
			position: relative;
			display: block;
			padding: 15px;
			cursor: pointer;

			> div {
				width: 30px;
				height: 20px;
				position: relative;

				span {
					display: block;
					position: absolute;
					height: 0px;
					width: 100%;
					border-top: 1px solid var(--text);
					left: 0;
					transform: rotate(0deg);
					transition: width 0.2s ease-in-out, left 0.2s ease-in-out,
						transform 0.2s ease-in-out;

					&:nth-child(1) {
						top: 0px;
					}

					&:nth-child(2),
					&:nth-child(3) {
						top: 10px;
					}

					&:nth-child(4) {
						top: 20px;
					}
				}
			}
		}

		&[data-expanded='1'] {
			.collapsable {
				display: flex;
			}

			> .expand span {
				&:nth-child(1) {
					top: 10px;
					width: 0%;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 10;
					width: 0%;
					left: 50%;
				}
			}
		}

		> .search-bar {
			display: flex;
			$border: 1px;
			$height: 44px;
			width: 100%;
			height: $height;
			position: relative;
			flex-direction: row;
			max-height: 100%;

			@include screen_tablet {
				width: 100%;

				&[data-focused='1'] {
					position: absolute;
					z-index: 100;
					top: 0px;
					left: 0px;
					padding: 10px;
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					background: rgba(0, 0, 0, 0.5);
				}
			}

			$icon-size: 20px;
			$icon-distance: calc($border + ($height / 2) - ($icon-size / 2));
			$padding-left: calc(($icon-distance * 2) + $icon-size);

			.eyeglass {
				user-select: none;
				font-size: $icon-size;
				width: $icon-size;
				height: $icon-size;
				line-height: $icon-size;
				padding: $icon-distance;
				color: var(--text-placeholder);
				position: absolute;
				display: block;
				text-align: center;
				pointer-events: none;
			}

			> input {
				width: 100%;
				height: $height;
				font-family: inherit;
				background: var(--background-accent);
				color: var(--text-accent);
				border: 1px solid var(--border);
				border-radius: 5px;
				padding: 0px 15px 0px $padding-left;

				&::placeholder {
					color: var(--text-placeholder);
				}
			}

			> .button {
				user-select: none;
				width: 44px;
				height: 44px;
				box-sizing: content-box;
				flex: none;
				background-color: var(--background-accent);
				color: var(--text-accent);
				border: 1px solid var(--border);
				padding: 0px;
				line-height: 44px;

				&.button-search {
					color: var(--text-placeholder);

					border-radius: 5px;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}

			> .suggested {
				display: none;
				flex-direction: column;
				background-color: var(--background-accent);
				overflow: hidden;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border: 1px solid var(--border);
				border-top: none;
				cursor: pointer;
				position: absolute;
				top: calc(100% + 2px);
				width: calc(100% - 2px);

				> a {
					&:hover {
						text-decoration: none;
					}

					> div {
						color: var(--text);
						height: $height;
						position: relative;
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						line-height: $height;

						&:hover {
							background-color: var(--background);
						}

						> .name {
							width: 100%;
							user-select: none;
						}

						.category {
							width: 100%;
							color: var(--text-placeholder);
						}

						> .thumbnail {
							width: 100%;
						}
					}
				}
			}

			&[data-expanded='1'] {
				> *:not(.expand) {
					display: none;
				}

				> .expand span {
					&:nth-child(1) {
						top: 10px;
						width: 0%;
						left: 50%;
					}

					&:nth-child(2) {
						transform: rotate(45deg);
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
					}

					&:nth-child(4) {
						top: 10;
						width: 0%;
						left: 50%;
					}
				}
			}

			&[data-suggested='1'] {
				> .suggested {
					display: flex;
				}

				> input {
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}

		> .collapsable {
			position: absolute;
			display: none;
			padding: 15px;
			flex-direction: column;
			overflow-y: auto;
			background-color: var(--background);
			border: 1px solid var(--border);
			top: 100%;
			left: 0px;

			> .entry {
				display: flex;
				align-items: center;
				justify-content: center;
				height: var(--nav-height);
				padding: 0px 15px;
				height: 30px;
				border-radius: 5px;
				font-size: 13px;
				color: inherit;
				white-space: nowrap;

				span {
					position: relative;
				}

				&:hover {
					text-decoration: none;
					background-color: var(--background-accent);
				}
			}
		}

		@include screen_tablet {
			justify-content: space-between;

			.collapsable {
				justify-content: space-around;
				width: 100%;
			}
		}
	}
}
