@import "./Common.scss";

@mixin thumbnail($id, $url) {
	&##{$id}[data-load-image="1"] > .items > .item > .front {
		background-image: url(#{$url});
	}
}

@include root_page("games") {
	> main {
		> section {
			@include thumbnail(social, "../assets/thumbnails/social.png");
			@include thumbnail(html5, "../assets/thumbnails/html5.png");
			@include thumbnail(ports, "../assets/thumbnails/ports.png");
			@include thumbnail(gba, "../assets/thumbnails/gba.png");
			@include thumbnail(genesis, "../assets/thumbnails/genesis.png");
			@include thumbnail(nes, "../assets/thumbnails/nes.png");

			height: 360px;
			$expand-size: 50px;
			$expand-overflow: calc($expand-size / 2);

			overflow: hidden;
			padding-bottom: $expand-overflow;
			position: relative;

			> .items-expand {
				display: none;
			}

			&[data-expanded="1"],
			&[data-overflowing="1"] {
				height: unset;

				> .items-expand {
					display: block;
					border-radius: 50%;
					width: $expand-size;
					height: $expand-size;
					border: 2px solid var(--text-accent);
					background: var(--background-accent);
					position: absolute;
					bottom: 0px;
					left: 0px;
					right: 0px;
					margin: 0 auto;
					line-height: $expand-size;
					text-align: center;
					user-select: none;
					cursor: pointer;
				}
			}

			> .items {
				padding: 10px;
				background: var(--background-accent);
				width: 100%;
				height: 265px;
				display: flex;
				flex-direction: row;
				border-radius: 10px;
				justify-content: space-around;
				padding-bottom: 30px;
				flex-wrap: wrap;
				flex-grow: 0;
				overflow: hidden;

				&::after {
					display: none;
					content: "";
					position: absolute;
					width: 100%;
					height: 30px;
					background: linear-gradient(0deg, var(--background), transparent);
					bottom: 0px;
					padding: 11px;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}

				> .item {
					cursor: pointer;
					user-select: none;
					width: 200px;
					height: 241px;
					background: var(--background);
					box-shadow: 0px 0px 10px var(--shadow);
					border-radius: 5px;
					margin: 12px 12px;

					> .front {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						width: 200px;
						height: 200px;
					}

					> .name {
						font-size: 14px;
						width: 200px;
						line-height: 40px;
						text-align: center;
						border-top: 1px solid var(--border);
					}
				}
			}

			&[data-overflowing="1"] {
				> .items {
					&::after {
						display: block;
					}
				}
			}

			&[data-expanded="1"] {
				> .items {
					height: unset;
					&::after {
						display: none;
					}
				}
			}
		}
	}
}
