html[data-page="games"] #root {
	> main {
		> section {
			position: relative;

			&[data-overflowing="1"] {
				> .items {
					&::after {
						display: block;
					}
				}
			}

			&[data-expanded="1"] {
				> .items {
					max-height: unset;

					&::after {
						display: none;
					}
				}
			}

			&[data-expanded="1"],
			&[data-overflowing="1"] {
				> .items-expand {
					display: block;
				}
			}

			> .items-expand {
				display: none;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				border: 2px solid var(--text-accent);
				background: var(--background-accent);
				position: absolute;
				bottom: -25px;
				left: 0px;
				right: 0px;
				margin: 0 auto;
				line-height: 50px;
				text-align: center;
				user-select: none;
				cursor: pointer;
			}

			> .items {
				padding: 10px;
				background: var(--background-accent);
				width: 100%;
				display: flex;
				flex-direction: row;
				border-radius: 10px;
				justify-content: space-around;
				max-height: 265px;
				padding-bottom: 30px;
				flex-wrap: wrap;
				overflow: hidden;

				&::after {
					display: none;
					content: "";
					position: absolute;
					width: 100%;
					height: 30px;
					background: linear-gradient(0deg, var(--background), transparent);
					bottom: 0px;
					padding: 11px;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}

				> .item {
					cursor: pointer;
					user-select: none;
					width: 200px;
					height: 241px;
					background: var(--background);
					box-shadow: 0px 0px 10px var(--shadow);
					border-radius: 5px;
					margin: 12px 12px;

					> .front {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						background: url("../Assets/theatre.webp") 0px 0px;
						width: 200px;
						height: 200px;
					}

					> .name {
						font-size: 14px;
						width: 200px;
						line-height: 40px;
						text-align: center;
						border-top: 1px solid var(--border);
					}
				}
			}
		}
	}
}
