@import './Common.scss';

@include root_page('games-player') {
	> main {
		border-radius: 10px;
		margin: auto;
		background-color: var(--background-accent);
		display: flex;
		flex-direction: column;
		width: 80%;
		height: calc(100vh - 110px);
		padding: 0px 15px;
		border-radius: 10px;

		> .title {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			line-height: 20px;
			align-items: center;
			margin: 10px 0px;

			> .name {
				margin: 0px;
				height: fit-content;
			}

			> .shift-right {
				margin-left: auto;
			}

			> button {
				cursor: pointer;
				margin-left: 15px;
				border: 1px solid var(--border);
				background-color: var(--background);
				color: var(--text);
				border-radius: 5px;
				width: 40px;
				height: 40px;

				&:hover {
					background-color: var(--background-accent);
					color: var(--text-accent);
				}
			}
		}

		> iframe {
			border: none;
			margin: 15px 0px;
			margin-bottom: 0px;
			width: 100%;
			height: 100%;
		}

		&[data-panorama='1'] {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 11;
			width: 100%;
			height: 100%;
			margin: 0px;
			padding: 0px;
			border-radius: 0px;

			> .title {
				width: calc(100% - 20px);

				> .name {
					display: none;
				}
			}

			> iframe {
				margin: 0px;
				width: 100%;
				height: 100%;
			}
		}
	}
}
