@import './Common.scss';

@include root_page('home') {
	main {
		margin: auto;
		display: flex;
		flex-direction: column;

		text-align: center;

		> h1 {
			margin: 0px 0px 10px 0px;
		}

		> h2 {
			margin: 0px 0px 20px 0px;
		}

		.button {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			height: 30px;
			user-select: none;
			font-family: inherit;
			background-color: var(--background-accent);
			color: var(--text-accent);
			border: 1px solid var(--border);
			border-radius: 5px;
			padding: 10px 20px;

			&:hover {
				background-color: var(--background-accent-deep-2);
			}
		}
	}
}
