@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 100;
	src: url("../assets/Lato 100.woff2") format("woff2");
}

@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	src: url("../assets/Lato 400 Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/Lato 400.woff2") format("woff2");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/Lato 700.woff2") format("woff2");
}
