@import './Screen.scss';

#root {
	> nav {
		display: flex;
		min-height: var(--nav-height);
		align-content: center;
		position: relative;
		color: var(--text);
		border-bottom: var(--border) 1px solid;
		padding: 10px 5vw;
		z-index: 10;
		text-align: center;
		background: var(--background);
		align-items: center;

		> .collapsable {
			display: flex;
			flex-direction: row;
		}

		@include screen_mobile {
			> .shift-right {
				display: none;
			}

			justify-content: space-between;

			> .collapsable {
				display: none;
				flex-direction: column;
				width: 100%;
				top: 100%;
				position: absolute;
				left: 0px;
				right: 0px;
				text-align: left;
				background: var(--background);
				border-bottom: 1px solid var(--border);
			}

			> .logo {
				position: absolute;
				left: 0px;
				right: 0px;
				margin: auto;
			}

			&[data-expanded='1'] {
				> *:not(.expand) {
					display: none;
				}

				.collapsable {
					display: flex;
				}
			}
		}

		> .button {
			box-sizing: content-box;
			border: none;
			background: none;
			width: 20px;
			height: 20px;
			margin: auto 5px;
			border-radius: 2px;
			padding: 5px;
			position: relative;
			flex: none;
			cursor: pointer;
			color: var(--text);

			> svg {
				font-size: 20px;
			}

			&:hover {
				background: var(--background-accent);
			}
		}

		> .logo {
			display: flex;
			align-items: center;
			justify-content: center;
			height: var(--nav-height);
			padding: 0px 15px;
			color: inherit;
			white-space: nowrap;

			> svg {
				width: inherit;
				height: inherit;
			}

			width: 35px;
		}

		> .shift-right {
			margin-left: auto;
		}
	}

	> .content {
		padding-left: 300px;
		display: flex;
		flex-direction: row;
		transition: padding-left 0.3s;

		> .menu {
			height: 100%;
			position: fixed;
			z-index: 4;
			flex-direction: column;
			overflow-y: auto;
			display: flex;
			background-color: var(--background);
			border-right: 1px solid var(--border);
			left: 0;
			top: 0;
			margin-top: 71px;
			width: 300px;
			height: calc(100vh - 71px);
			box-sizing: border-box;
			transform: translateX(0);
			padding: 20px 25px;
			text-align: left;
			user-select: none;
			transition: transform 0.3s;

			@include screen_mobile {
				width: auto;
			}

			> .genres {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;

				> .entry {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 2px 8px;
					margin: 2px;
					height: 20px;
					border: 1px solid var(--border);
					border-radius: 5px;
					font-size: 12px;
					font-family: 'Montserrat Alternates';
					color: var(--text-placeholder);
					white-space: nowrap;

					&:hover {
						text-decoration: none;
						background-color: var(--background-accent);
					}
				}
			}
		}

		.menu-like {
			> .entry {
				background-color: transparent;
				border: none;
				color: var(--contrast-background);
				display: flex;
				align-items: center;
				font: inherit;
				font-size: 14px;
				height: 14px;
				padding: 10px 10px;

				> .icon {
					width: 14px;
					height: 14px;
					margin-right: 5px;

					> svg {
						width: inherit;
						height: inherit;
					}
				}

				&:hover {
					color: var(--text);
					text-decoration: none;
					background: var(--background-accent);
				}
			}

			> p {
				font-size: 14px;
				color: var(--contrast-background);
			}

			> .bar {
				margin: 10px 0px;
				width: 100%;
				border-bottom: 1px solid var(--contrast-background);
			}
		}
	}
}

html[data-expanded='0'] #root {
	> .content {
		padding-left: 0;

		> .menu {
			transform: translateX(-100%);
		}
	}
}
