nav {
	display: flex;
	min-height: var(--nav-height);
	align-content: center;
	position: relative;
	color: var(--slate);
	border-bottom: var(--border) 1px solid;
	padding: 0px 5vw;
	z-index: 10;
	text-align: center;
	background: var(--background);

	&[data-search="1"] {
		> * {
			display: none;
		}

		.logo,
		.omnibox {
			display: flex;
		}

		@media only screen and (max-width: 500px) {
			.logo,
			.expand {
				display: none;
			}
		}
	}

	> .collapsable {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	> .expand {
		position: relative;
		display: none;
		padding: 15px;
		cursor: pointer;

		> div {
			width: 30px;
			height: 20px;
			position: relative;

			span {
				display: block;
				position: absolute;
				height: 0px;
				width: 100%;
				border-top: 1px solid var(--slate);
				left: 0;
				transform: rotate(0deg);
				transition: width 0.2s ease-in-out, left 0.2s ease-in-out, transform 0.2s ease-in-out;

				&:nth-child(1) {
					top: 0px;
				}

				&:nth-child(2),
				&:nth-child(3) {
					top: 10px;
				}

				&:nth-child(4) {
					top: 20px;
				}
			}
		}
	}

	@media only screen and (max-width: 650px) {
		> .collapsable {
			justify-content: space-around;
		}
	}

	@media only screen and (max-width: 500px) {
		> .expand {
			display: flex;
		}

		> .collapsable {
			display: none;
			flex-direction: column;
			width: 100%;
			top: 100%;
			position: absolute;
			left: 0px;
			right: 0px;
			text-align: left;
			background: var(--background);
			border-bottom: 1px solid var(--border);
		}

		> .separator {
			display: none;
		}

		> .logo {
			position: absolute;
			left: 0px;
			right: 0px;
			margin: auto;
			width: 50px;
		}

		&[data-expanded="1"] {
			> *:not(.expand) {
				display: none;
			}

			.collapsable {
				display: flex;
			}

			> .expand span {
				&:nth-child(1) {
					top: 10;
					width: 0%;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 10;
					width: 0%;
					left: 50%;
				}
			}
		}
	}

	> button {
		box-sizing: content-box;
		border: none;
		background: none;
		width: 25px;
		height: 25px;
		margin: auto 5px;
		border-radius: 2px;
		padding: 5px;
		position: relative;
		flex: none;
		cursor: pointer;
		color: inherit;

		&:hover {
			background: var(--accent);
		}
	}

	.entry {
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--nav-height);
		padding: 0px 15px;
		color: inherit;

		> svg,
		> .material-icons {
			height: 25px;
			width: 25px;
			color: inherit;
		}

		span {
			position: relative;
		}

		span::after {
			display: none;
			content: "";
			position: absolute;
			border-bottom: 2px solid var(--slate);
			left: 0;
			right: 0;
			bottom: -0.125rem;
		}

		&:hover {
			text-decoration: none;

			span::after {
				display: block;
			}
		}
	}

	.separator {
		background: var(--subtle);
		height: 30px;
		width: 2px;
		margin: auto 8px;
	}

	> .shift-right {
		margin-left: auto;
	}

	> .omnibox {
		width: 100%;
		padding: 6px 0px;
		display: none;

		> * {
			border: 1px solid var(--border);
			border-radius: 5px;
			background: var(--background);
			color: var(--subtle);
		}

		> button {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			> svg,
			> .material-icons {
				height: 25px;
				width: 25px;
			}
		}

		> .bar {
			width: 100%;
			padding: 0px 12px;
			font-family: inherit;
			border-right: none;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		> .submit {
			flex: none;
			width: 38px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			background: var(--blue);
			color: #fff;

			&:hover {
				background-color: var(--blue-accent-hover);
			}

			&:active {
				background-color: var(--blue-accent-active);
			}
		}

		> .cancel {
			margin: 0px 5px;
			color: var(--slate);
			padding: 0px 8px;
			width: 38px;

			&:hover {
				background-color: var(--accent);
			}
		}
	}
}
