@import './Common.scss';
@import './Screen.scss';

@include root_page('proxy') {
	> main {
		margin-left: auto;
		margin-right: auto;
		width: 584px;

		@include screen_tablet {
			width: auto;
		}

		.expand {
			display: flex;
			flex-direction: column;
			margin-top: 20px;

			.title {
				font-size: 22px;
				align-items: center;
				cursor: pointer;
				user-select: none;
				display: inline-flex;
				width: fit-content;
				flex-direction: row;
				align-items: center;

				.toggle {
					margin-left: 4px;
					padding: 3px;
				}
			}

			&[data-expanded='0'] {
				.content {
					display: none;
				}
			}

			&[data-expanded='1'] {
				.content {
					display: flex;
					flex-direction: column;
				}
			}

			.content {
				margin-top: 15px;

				label {
					width: 200px;
					display: flex;
					flex-direction: row;
					text-align: right;

					input,
					select {
						margin-left: auto;
						height: 20px;
					}
				}
			}
		}

		> .omnibox {
			$border: 1px;
			$height: 44px;
			width: 584px;
			height: $height;
			display: flex;
			position: relative;
			flex-direction: column;

			$icon-size: 20px;
			$icon-distance: calc($border + ($height / 2) - ($icon-size / 2));
			$padding-left: calc(($icon-distance * 2) + $icon-size);

			.eyeglass,
			.open {
				user-select: none;
				font-size: $icon-size;
				width: $icon-size;
				height: $icon-size;
				line-height: $icon-size;
				padding: $icon-distance;
				color: var(--text-placeholder);
				position: absolute;
				display: block;
				text-align: center;
				pointer-events: none;
			}

			.open {
				display: none;
			}

			@include screen_tablet {
				width: 100%;

				&[data-focused='1'] {
					position: absolute;
					z-index: 100;
					top: 0px;
					left: 0px;
					padding: 10px;
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					background: rgba(0, 0, 0, 0.5);
				}

				.open {
					display: block;
					top: 0px;
					right: 0px;
				}
			}

			> input {
				height: $height;
				flex: none;
				font-family: inherit;
				background: var(--background-accent);
				color: var(--text-accent);
				border: 1px solid var(--border);
				border-radius: 5px;
				padding: 0px 15px 0px $padding-left;
				&::placeholder {
					color: var(--text-placeholder);
				}
			}

			> .suggested {
				display: none;
				margin-top: calc($height + 3px);
				width: calc(100% - 2px); // - border

				@include screen_tablet {
					width: calc(100% - 22px); // - padding - border
				}

				position: absolute;
				flex-direction: column;
				background-color: var(--background-accent);
				overflow: hidden;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border: 1px solid var(--border);
				border-top: none;
				cursor: pointer;

				> div {
					color: var(--text);
					height: $height;
					position: relative;

					&:hover {
						background-color: var(--background);
					}

					> .text {
						padding-left: $padding-left;
						padding-right: 15px;
						line-height: $height;
						user-select: none;
					}

					> .eyeglass {
						color: var(--text);
					}
				}
			}

			&[data-suggested='1'] {
				> .suggested {
					display: flex;
				}

				> input {
					height: $height;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}
	}
}
