@font-face {
	font-family: "Segoe UI";
	src: local("Segoe UI"), url("../Assets/Segoe UI 400.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Segoe UI";
	src: local("Segoe UI"), url("../Assets/Segoe UI 100.woff2") format("woff2");
	font-weight: 100;
}

@font-face {
	font-family: "Segoe UI";
	src: local("Segoe UI"), url("../Assets/Segoe UI 200.woff2") format("woff2");
	font-weight: 200;
}

@font-face {
	font-family: "Segoe UI";
	src: local("Segoe UI"), url("../Assets/Segoe UI 600.woff2") format("woff2");
	font-weight: 600;
}

@font-face {
	font-family: "Segoe UI";
	src: local("Segoe UI"), url("../Assets/Segoe UI 700.woff2") format("woff2");
	font-weight: 700;
}
