.service {
	display: none;
	height: 100%;
	flex-direction: column;
	background: var(--background);

	.proxy {
		border: none;
		width: 100%;
		height: 100%;
	}

	.buttons {
		display: flex;
		width: auto;
		height: var(--nav-height);
		margin: 0px 5vw;

		.shift-right {
			margin-left: auto;
		}
		
		.button {
			height: 35px;
			width: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			
			cursor: pointer;
			background: var(--background);
			color: var(--slate);
			position: relative;
			margin: auto 5px;
			border-radius: 2px;
			
			&:hover {
				background-color: var(--accent);
			}
		}
	}
}

#root[data-service='true'] {
	> * {
		display: none;
	}
	
	.service {
		display: flex;
	}
}


#root[data-appearance='dark'] {
	.service {
		background: #000;
		color: #FFF;
	}	
}

#root[data-fullscreen='true'] {
	.service {
		.buttons {
			display: none;
		}
	}
}