@import './Common.scss';

@include root_page('support') {
	> .banner {
		width: 100%;
		display: block;
		background-color: var(--contrast-background);
		color: var(--contrast-text);
		padding: 60px 0px 80px 0px;
		text-align: center;

		> h1 {
			margin: 10px 50px;
		}

		> .search {
			position: relative;
			width: 420px;
			height: 30px;
			margin: auto;
			display: flex;

			@media only screen and (max-width: 600px) {
				width: 70%;
			}

			> .icon {
				position: absolute;
				width: 20px;
				height: 20px;
				padding: 5px;
				pointer-events: none;
				color: var(--text-placeholder);
				font-size: 18px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			> .bar {
				width: 100%;
				padding-left: 32px;
				padding-right: 16px;
				border-radius: 2px;
				font-size: 14px;
				border: 1px solid var(--border);
				font-family: inherit;
				transition: 0.1s ease box-shadow;
				background: var(--background-accent);
				color: var(--text-accent);
				outline: none;

				&::placeholder {
					color: var(--text-placeholder);
				}

				&:hover {
					border-color: var(--blue);
				}

				&:focus {
					box-shadow: 0 0 0 0.125rem var(--blue);
					border-color: var(--blue);
				}
			}
		}
	}

	main {
		> .note {
			margin-top: 30px;
			opacity: 0.75;
		}
	}
}
