@use 'sass:map';
@import '~nord/src/sass/nord.scss';

/*
Design for dark theme first.

https://www.nordtheme.com/
*/

$night: (
	background: $nord0,
	background-accent: $nord1,
	text: #fff,
	text-accent: #bbb,
	text-placeholder: #9aa0a6,
	border: #555,
	link: $nord8,
);

$day: (
	background: $nord4,
	background-accent: $nord5,
	text: #000,
	text-accent: #222,
	text-placeholder: #9aa0a6,
	border: #ccc,
	link: $nord10,
);

@function offsetHex($color, $ness) {
	@return 'rgb(' + (red($color) + $ness) + ', ' + (green($color) + $ness) + ', ' +
		(blue($color) + $ness) + ')';
}

@mixin theme-rules($theme, $contrast) {
	--background: #{map.get($theme, 'background')};
	--contrast-background: #{map.get($contrast, 'background')};
	--text: #{map.get($theme, 'text')};
	--contrast-text: #{map.get($contrast, 'text')};
	--text-placeholder: #{map.get($theme, 'text-placeholder')};
	--text-accent: #{map.get($theme, 'text-accent')};
	--background-accent: #{map.get($theme, 'background-accent')};
	--background-accent-deep-1: #{offsetHex(
			map.get($theme, 'background-accent'),
			-5
		)};
	--background-accent-deep-2: #{offsetHex(
			map.get($theme, 'background-accent'),
			-8
		)};
	--border: #{map.get($theme, 'border')};
	--link: #{map.get($theme, 'link')};
	--subtle: #ddd;
	--blue: #0078d4;
	--blue-link: #006cbe;
	--blue-accent-active: #1683d8;
	--blue-accent-hover: #006cbe;
	--shadow: #fff4;
}

html {
	--nav-height: 50px;

	@include theme-rules($night, $day);

	&[data-theme='day'] {
		@include theme-rules($day, $night);
	}
}
