@import "~nord/src/sass/nord.scss";

/*
Design for dark theme first.

https://www.nordtheme.com/
*/
html {
	--background: #{$nord0};
	--background-accent: #111;
	--contrast-background: 255, 255, 255;
	--slate: #ddd;
	--slate-text: #333;
	--slate-accent: #333;
	--contrast-text: #fff;
	--accent: #222;
	--border: #555;
	--subtle: #ddd;
	--blue: #0078d4;
	--blue-link: #006cbe;
	--blue-accent-active: #1683d8;
	--blue-accent-hover: #006cbe;
	--shadow: #fff4;

	&[data-theme="light"] {
		--background: #{$nord4};
		--background-accent: #f2f2f2;
		--contrast-background: 0, 0, 0;
		--slate: #111;
		--slate-text: #eee;
		--contrast-text: #000;
		--accent: #e0e0e0;
		--border: #ccc;
		--subtle: #555;
		--blue: #0078d4;
		--blue-link: #1a0dab;
		--shadow: #0004;
	}
}
